.innerAppcontainer {
  width: 1000px;
  margin: 0 auto;
  position: relative;
  display: flex;
  flex-direction: column;
  background: url("https://i.pinimg.com/736x/d2/bf/d3/d2bfd3ea45910c01255ae022181148c4.jpg")
    center center/cover no-repeat;
  min-height: 90vh;
  padding: 20px;
}
